.nav_step
{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
}

#restaurants_list
{
    flex-flow: nowrap;
}

#restaurants_list a
{
    width: 23%;
    text-decoration: none;
    color: black;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.main_menu
{
    align-items: flex-start;
    flex-direction: row;
}

.menu_list
{
    margin: 10px 20px;
}