:root {
  --violet: #9356DC;
  --fuschia: #FF79DA;
  --turquoise: #99E2D0;
}

body {
  margin: auto;
  font-family: "Roboto";
  font-size: 16px;
  padding: 0px 20px;
  font-weight: 450;
}

h1 {
  font-family: "Shrikhand";
}

h2 {
  font-family: "Roboto";
}

header h1 {
  text-align: center;
  margin: 10px 0px;
}

header a {
  text-decoration: none;
  color: black;
}

header .arrow {
  display: inline-block;
  position: absolute;
  top: 25px;
  font-size: larger;
}

#location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  margin-left: -20px;
  margin-right: -20px;
}

#location i {
  padding: 0px 10px;
}

#map {
  text-align: center;
  background-color: #f1f1f1;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px 0px;
}

#map button {
  padding: 20px 30px;
  font-weight: bold;
  color: white;
  border-radius: 30px;
  background: linear-gradient(to bottom right, var(--fuschia), var(--violet));
  border: none;
}

#map button:hover {
  background: linear-gradient(to bottom right, var(--violet), var(--fuschia));
  cursor: pointer;
}

#functioning h2 {
  text-align: center;
}

.nav_step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
}

.nav_step li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  background-color: #f1f1f1;
  width: 300px;
  margin-bottom: 20px;
}

.nav_step li p {
  width: 178px;
}

.nav_step li:hover {
  background: #f4ebff;
  cursor: pointer;
}

.nav_step li i {
  padding: 0px 20px;
  color: #313131;
}

.nav_step li:hover i {
  color: var(--violet);
}

.nav_step .nav_step_num {
  border: 2px none;
  border-radius: 100%;
  padding: 5px 10px;
  background-color: var(--violet);
  color: white;
}

#restaurants {
  background-color: #f1f1f1;
  margin-left: -20px;
  margin-right: -20px;
}

#restaurants h2 {
  padding-top: 20px;
  margin-left: 40px;
}

#restaurants_list {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: space-between;
}

#restaurants_list a {
  width: 100%;
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}

#restaurants_list article {
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 5px 20px 0px lightgray;
}

#restaurants_list img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

#restaurants_list .article_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
}

.banner_1 {
  display: block;
  height: 300px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -30px;
  background: url(../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg) no-repeat;
  background-size: cover;
  position: relative;
  z-index: -100;
}

.banner_2 {
  display: block;
  height: 300px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -30px;
  background: url(../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg) no-repeat;
  background-size: cover;
  position: relative;
  z-index: -100;
}

.banner_3 {
  display: block;
  height: 300px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -30px;
  background: url(../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) no-repeat;
  background-size: cover;
  position: relative;
  z-index: -100;
}

.banner_4 {
  display: block;
  height: 300px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -30px;
  background: url(../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg) no-repeat;
  background-size: cover;
  position: relative;
  z-index: -100;
}

.menu {
  background: #f1f1f1;
  margin-left: -20px;
  margin-right: -20px;
  border-radius: 35px 35px 0px 0px;
}

.menu_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 25px;
  margin-bottom: -20px;
}

.menu_title h2 {
  padding: 0px 10px;
  font-family: "Shrikhand";
  font-size: 190%;
}

.menu_list {
  display: flex;
  flex-direction: column;
}

.menu_list h3 {
  font-weight: 395;
  margin-left: 10px;
  margin-bottom: 5px;
}

.line {
  border-bottom: solid var(--turquoise);
  width: 10%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.menu_list .food_bloc {
  border: none;
  margin: 10px 0px;
  background: white;
  border-radius: 25px;
  padding-left: 20px;
  width: 450px;
  height: 90px;
}

.menu_list .food_bloc .last__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -20px;
  margin-right: 30px;
  font-weight: 390;
}

.menu_list .food_bloc .cross {
  display: none;
}

.main_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
  margin-bottom: 19px;
}

.btn_order {
  display: flex;
  justify-content: center;
}

.btn_order button {
  padding: 20px 30px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 90%;
  color: white;
  border-radius: 30px;
  background: linear-gradient(to bottom right, var(--fuschia), var(--violet));
  border: none;
}

footer {
  background-color: #313131;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
}

footer h3 {
  padding-top: 20px;
  padding-left: 40px;
  font-family: "Shrikhand";
  color: white;
}

footer ul {
  list-style-type: none;
  padding-bottom: 30px;
  margin-bottom: -20px;
}

footer ul li {
  padding: 5px 0px;
}

footer a {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=style.css.map */
